@import 'vendor/bootstrap-sass-official/assets/stylesheets/bootstrap';

html, body {	
	
}
footer {
	background-color:#000;
}

.back {
	background-image:url("/white.png");
	background-size: 220px 220px;
	padding: 40px 10px 0px 10px;
	
}
.text {
	color: black;
}
